@using Core.Application.Common.Enumerations
@model ReservationViewViewModel;
<div class="container">
    <header class="mb-3">
        <h1>Reservation details</h1>
    </header>

    <section>
        <h2 class="h5">Seat information</h2>

        <dl class="row">
            <dt class="col-sm-5">Seat:</dt>
            <dd class="col-sm-7">@Model.SeatNumber</dd>

            <dt class="col-sm-5">Status:</dt>
            <dd class="col-sm-7">
                @if (Model.ReservationStatus == ReservationStatus.ReservationConfirmed)
                {
                    <span>
                        <i class="bi bi-check-circle-fill text-success"></i>
                        Confirmed
                    </span>
                }
                else if (Model.ReservationStatus == ReservationStatus.ReservationRejected)
                {
                    <span>
                        <i class="bi bi-ban-fill text-danger"></i>
                        Rejected
                    </span>
                }
                else
                {
                    <span>
                        <i class="bi bi-hourglass-split text-secondary"></i>
                        Awaiting payment
                    </span>
                }
            </dd>
        </dl>
    </section>

    <hr>

    <section>
        <h2 class="h5">Attendee information</h2>

        <dl class="row">
            <dt class="col-sm-5">Name:</dt>
            <dd class="col-sm-7">@Model.Name</dd>

            <dt class="col-sm-5">Email:</dt>
            <dd class="col-sm-7">@Model.Email</dd>

            <dt class="col-sm-5">Phone number:</dt>
            <dd class="col-sm-7">@Model.PhoneNumber</dd>

            <dt class="col-sm-5">Preferred language:</dt>
            <dd class="col-sm-7">@Model.PreferredLanguage</dd>
        </dl>
    </section>

    <hr>

    <section>
        <h2 class="h5">Request information</h2>

        <dl class="row">
            <dt class="col-sm-5">Requested time:</dt>
            <dd class="col-sm-7">
                <time datetime="2025-05-30T16:20:00Z">2025-05-30 00:00:00 KST</time>
            </dd>
        </dl>
    </section>

    <hr>

    <section>
        <form asp-action="UpdateStatus" method="post">
            @if (Model.ReservationStatus == ReservationStatus.AwaitingPayment)
            {
                <button name="action" value="approve" type="submit" class="btn btn-primary">Approve reservation</button>
                <button name="action" value="reject" type="submit" class="btn btn-danger">Reject reservation</button>
            }
        </form>
    </section>
</div>
