@using Core.Domain.Common.Enumerations
@model ReservationViewViewModel;
<div class="container">
    <header class="mb-3">
        <h1>예약 상세 정보</h1>
    </header>

    <section>
        <h2 class="h5">좌석 정보</h2>

        <dl class="row">
            <dt class="col-sm-5">좌석:</dt>
            <dd class="col-sm-7">@Model.SeatNumber</dd>

            <dt class="col-sm-5">승인 상태:</dt>
            <dd class="col-sm-7">
                @if (Model.ReservationStatus == ReservationStatus.ReservationConfirmed)
                {
                    <span>
                        <i class="bi bi-check-circle-fill text-success"></i>
                        승인됨
                    </span>
                }
                else if (Model.ReservationStatus == ReservationStatus.ReservationRejected)
                {
                    <span>
                        <i class="bi bi-ban-fill text-danger"></i>
                        거절됨
                    </span>
                }
                else
                {
                    <span>
                        <i class="bi bi-hourglass-split text-secondary"></i>
                        승인 대기 중
                    </span>
                }
            </dd>
        </dl>
    </section>

    <hr>

    <section>
        <h2 class="h5">예약자 정보</h2>

        <dl class="row">
            <dt class="col-sm-5">이름:</dt>
            <dd class="col-sm-7">@Model.Name</dd>

            <dt class="col-sm-5">메일:</dt>
            <dd class="col-sm-7">@Model.Email</dd>

            <dt class="col-sm-5">전화번호:</dt>
            <dd class="col-sm-7">@Model.PhoneNumber</dd>

            <dt class="col-sm-5">선호언어:</dt>
            <dd class="col-sm-7">@Model.PreferredLanguage</dd>
        </dl>
    </section>

    <hr>

    <section>
        <h2 class="h5">예약 신청 정보</h2>

        <dl class="row">
            <dt class="col-sm-5">예약 신청 시간:</dt>
            <dd class="col-sm-7">
                <time datetime="@Model.ReservedAt">@Model.ReservedAt</time>
            </dd>
        </dl>
    </section>

    <hr>

    <section>
        <form asp-action="UpdateStatus" method="post">
            @if (Model.ReservationStatus == ReservationStatus.AwaitingPayment)
            {
                <button name="action" value="approve" type="submit" class="btn btn-success">예약 승인</button>
                <button name="action" value="reject" type="submit" class="btn btn-danger">예약 거절</button>
            }
            <a
                asp-action="Edit"
                asp-route-reservationId="@Model.ReservationId"
                class="btn btn-outline-primary"
            >Edit reservation</a>
        </form>
    </section>
</div>
