@using Core.Application.Common.Enumerations
@model ReservationListViewModel;
<div class="container">
    <header class="mb-3">
        <h1>예약 목록</h1>
    </header>
    
    <p>이 페이지는 실시간으로 갱신되지 않으므로, 최신 정보를 확인하려면 새로고침하세요.</p>

    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link active"
                id="seats-tab"
                data-bs-toggle="tab"
                data-bs-target="#seats-tab-pane"
                type="button"
                role="tab"
                aria-controls="seats-tab-pane"
                aria-selected="true"
            >좌석목록</button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="map-tab"
                data-bs-toggle="tab"
                data-bs-target="#map-tab-pane"
                type="button"
                role="tab"
                aria-controls="map-tab-pane"
                aria-selected="false"
            >좌석 배치도</button>
        </li>
    </ul>

    <div class="tab-content border border-top-0 p-3">

        <section
            class="tab-pane fade show active"
            id="seats-tab-pane"
            role="tabpanel"
            aria-labelledby="seats-tab"
            tabindex="0"
        >
            <div class="input-group">
                <span class="input-group-text">
                    <i id="search-label" class="bi bi-search" role="img" aria-label="Search"></i>
                </span>
                <input class="form-control" type="search" id="search" aria-labelledby="search-label">
            </div>

            <table class="table table-hover" id="index-table">
                <thead>
                    <tr>
                        <th scope="col">좌석</th>
                        <th scope="col">예약 신청 시간 (위치)</th>
                        <th class="col">승인 상태</th>
                        <th scope="col">예약자</th>
                        <td scope="col" data-dt-order="disable"></td>
                    </tr>
                    <tr>
                        <th colspan="7" data-dt-order="disable">
                            <a asp-action="Create" class="btn btn-outline-primary w-100">좌석 예약하기</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservation in Model.Items)
                    {
                        <tr>
                            <td scope="row">
                                @reservation.SeatNumber
                            </td>
                            <td>
                                <time datetime="@reservation.ReservedAt">@reservation.ReservedAt</time>
                            </td>
                            <td>
                                @if (reservation.ReservationStatus == ReservationStatus.ReservationConfirmed)
                                {
                                    <span>
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                        Confirmed
                                    </span>
                                }
                                else if (reservation.ReservationStatus == ReservationStatus.ReservationRejected)
                                {
                                    <span>
                                        <i class="bi bi-ban-fill text-danger"></i>
                                        Rejected
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        <i class="bi bi-hourglass-split text-secondary"></i>
                                        Awaiting payment
                                    </span>
                                }
                            </td>
                            <td>
                                @reservation.Name
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-reservationId="@reservation.ReservationId">상세 보기</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>

        <section
            class="tab-pane fade"
            id="map-tab-pane"
            role="tabpanel"
            aria-labelledby="map-tab"
            tabindex="0"
        >
            <img class="img-fluid" src="~/images/seat-map.webp" alt="좌석 배치도" aria-label="좌석 배치도">
        </section>

    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css">
}

@section Scripts
{
    <script defer src="//cdn.datatables.net/2.3.1/js/dataTables.min.js"></script>
    <script>
        window.addEventListener("load", function() {
            var table = new DataTable("#index-table", {
                layout: {
                    topStart: null,
                    topEnd: null,
                    bottomStart: null,
                    bottomEnd: null,
                },
                // Paging has to be disabled to work with our timezone widget.
                paging: false,
                ordering: {
                    indicators: false,
                },
            });

            $("#search").on("keyup", function () {
                table.search(this.value).draw();
            });
        });
    </script>
}
