@using Core.Domain.Authorization
@using Public.Models.Enumerations
@inject IStringLocalizer<SeatSelectorViewModel> Localizer;
@inject IHtmlLocalizer<SeatSelectorViewModel> HtmlLocalizer;
@model SeatSelectorViewModel;

@functions {

    private void RenderSeat(int number)
    {
        var status = Model.SeatStatuses[number];

        <button
            class="seat @status"
            data-number="@number"
            data-status="@status"
        >@number</button>
    }
}

@* Statuses *@

@if (Model.SystemStatus == SystemStatus.OpeningSoon)
{
    <div class="alert alert-info" role="alert">
        <h3 class="h4">
            <i class="bi bi-info-circle-fill"></i>
            @Localizer["Reservations will open soon!"]
        </h3>
        <p class="mb-0">
            @HtmlLocalizer["<!--details:OpeningSoon-->",
                Model.OpenTimeParameter,
                Model.OpenTimeZone,
                Model.OpenTimeDisplay
            ]
        </p>
    </div>
}
else if (Model.SystemStatus == SystemStatus.ClosingSoon)
{
    <div class="alert alert-info" role="alert">
        <h3 class="h4">
            <i class="bi bi-info-circle-fill"></i>
            @Localizer["Reservations will close soon!"]
        </h3>
        <p class="mb-0">
            @HtmlLocalizer["<!--details:ClosingSoon-->", 
                Model.CloseTimeParameter,
                Model.CloseTimeZone,
                Model.OpenTimeDisplay
            ]
        </p>
    </div>
}
else if (Model.SystemStatus == SystemStatus.OutOfSeatsTemporarily)
{
    <div class="alert alert-warning" role="alert">
        <h3 class="h4">
            <i class="bi bi-exclamation-triangle-fill"></i>
            @Localizer["We're out of seats!"]
        </h3>
        <p class="mb-0">
            @Localizer["<!--details:OutOfSeatsTemporarily-->"]
        </p>
    </div>
}
else if (Model.SystemStatus == SystemStatus.OutOfSeatsPermanently)
{
    <div class="alert alert-danger" role="alert">
        <h3 class="h4">
            <i class="bi bi-exclamation-triangle-fill"></i>
            @Localizer["We're out of seats!"]
        </h3>
        <p class="mb-0">
            @Localizer["<!--details:OutOfSeatsPermanently-->"]
        </p>
    </div>
}
else if (Model.SystemStatus == SystemStatus.ClosedPerSchedule)
{
    <div class="alert alert-danger" role="alert">
        <h3 class="h4">
            <i class="bi bi-exclamation-triangle-fill"></i>
            @Localizer["Reservations are closed!"]
        </h3>
        <p class="mb-0">
            @Localizer["<!--details:ClosedPerSchedule-->"]
        </p>
    </div>
}
else if (Model.SystemStatus == SystemStatus.ClosedManually)
{
    <div class="alert alert-danger" role="alert">
        <h3 class="h4">
            <i class="bi bi-exclamation-triangle-fill"></i>
            @Localizer["Reservations are closed!"]
        </h3>
        <p class="mb-0">
            @Localizer["<!--details:ClosedManually-->"]
        </p>
    </div>
}

@* Seating graphic *@

<script>
    var loadSeatingWidget = function ($element) {
        new SeatSelector($element, {
            403: {
                @((int)AuthorizationRejectionReason.ReservationsAreClosed):
                    "@Localizer["<!--unauthorized:ReservationsAreClosed-->"]",
                @((int)AuthorizationRejectionReason.TooManySeatLocksForIpAddress):
                    "@Localizer["<!--unauthorized:TooManySeatLocksForIpAddress-->"]",
            },
            409: "@Localizer["Seat {} is no longer available."]",
        });
    };
</script>

<div
    class="row lazy-loaded"
    data-onload="loadSeatingWidget"
    data-priority="1"
    data-max-seat-selections="@Model.MaxSeatSelections"
>

    @{ var mapClass = Model.IsOpen ? "col-lg-10 col-md-9" : "col-12"; }
    <div class="@mapClass mb-3 d-flex justify-content-center">
        <div data-scaled-for-parent-width="1100" class="interactive-seat-selector" aria-hidden="true">

            <div class="legend">
                <div class="key available">@Localizer["Available"]</div>
                <div class="key on-hold">@Localizer["On hold"]</div>
                <div class="key reserved">@Localizer["Reserved"]</div>
                <div class="key selected">@Localizer["Selected"]</div>
            </div>

            <div class="stage">
                @Localizer["Stage"]
            </div>

            <div class="empty-space" style="font-size: 3em"></div>

            <div class="audience">
                <div class="section left">
                    <div class="row">
                        <div class="empty-space" style="font-size: 1em"></div>
                        @{RenderSeat(30);}
                        @{RenderSeat(29);}
                        @{RenderSeat(28);}
                        @{RenderSeat(27);}
                        @{RenderSeat(26);}
                        @{RenderSeat(25);}
                        @{RenderSeat(24);}
                        @{RenderSeat(23);}
                        @{RenderSeat(22);}
                    </div>
                    <div class="row">
                        <div class="empty-space" style="font-size: 1.6em"></div>
                        @{RenderSeat(60);}
                        @{RenderSeat(59);}
                        @{RenderSeat(58);}
                        @{RenderSeat(57);}
                        @{RenderSeat(56);}
                        @{RenderSeat(55);}
                        @{RenderSeat(54);}
                        @{RenderSeat(53);}
                    </div>
                    <div class="row">
                        <div class="wall" style="font-size: 0.7em"></div>
                        <div class="empty-space" style="font-size: 0.6em"></div>
                        @{RenderSeat(89);}
                        @{RenderSeat(88);}
                        @{RenderSeat(87);}
                        @{RenderSeat(86);}
                        @{RenderSeat(85);}
                        @{RenderSeat(84);}
                        @{RenderSeat(83);}
                        @{RenderSeat(82);}
                    </div>
                    <div class="row">
                        <div class="wall" style="font-size: 1.4em"></div>
                        <div class="empty-space" style="font-size: 0.6em"></div>
                        @{RenderSeat(100);}
                        @{RenderSeat(99);}
                        @{RenderSeat(98);}
                        @{RenderSeat(97);}
                        @{RenderSeat(96);}
                        @{RenderSeat(95);}
                        @{RenderSeat(94);}
                    </div>
                </div>

                <div class="section center">
                    <div class="row">
                        @{RenderSeat(21);}
                        @{RenderSeat(20);}
                        @{RenderSeat(19);}
                        @{RenderSeat(18);}
                        @{RenderSeat(17);}
                        @{RenderSeat(16);}
                        @{RenderSeat(15);}
                        @{RenderSeat(14);}
                        @{RenderSeat(13);}
                        @{RenderSeat(12);}
                        @{RenderSeat(11);}
                        @{RenderSeat(10);}
                    </div>
                    <div class="row">
                        @{RenderSeat(52);}
                        @{RenderSeat(51);}
                        @{RenderSeat(50);}
                        @{RenderSeat(49);}
                        @{RenderSeat(48);}
                        @{RenderSeat(47);}
                        @{RenderSeat(46);}
                        @{RenderSeat(45);}
                        @{RenderSeat(44);}
                        @{RenderSeat(43);}
                        @{RenderSeat(42);}
                        @{RenderSeat(41);}
                        @{RenderSeat(40);}
                    </div>
                    <div class="row">
                        @{RenderSeat(81);}
                        @{RenderSeat(80);}
                        @{RenderSeat(79);}
                        @{RenderSeat(78);}
                        @{RenderSeat(77);}
                        @{RenderSeat(76);}
                        @{RenderSeat(75);}
                        @{RenderSeat(74);}
                        @{RenderSeat(73);}
                        @{RenderSeat(72);}
                        @{RenderSeat(71);}
                        @{RenderSeat(70);}
                        @{RenderSeat(69);}
                        @{RenderSeat(68);}
                    </div>
                    <div class="row">
                    </div>
                </div>

                <div class="section right">
                    <div class="row">
                        @{RenderSeat(9);}
                        @{RenderSeat(8);}
                        @{RenderSeat(7);}
                        @{RenderSeat(6);}
                        @{RenderSeat(5);}
                        @{RenderSeat(4);}
                        @{RenderSeat(3);}
                        @{RenderSeat(2);}
                        @{RenderSeat(1);}
                        <div class="empty-space" style="font-size: 1em"></div>
                    </div>
                    <div class="row">
                        @{RenderSeat(39);}
                        @{RenderSeat(38);}
                        @{RenderSeat(37);}
                        @{RenderSeat(36);}
                        @{RenderSeat(35);}
                        @{RenderSeat(34);}
                        @{RenderSeat(33);}
                        @{RenderSeat(32);}
                        @{RenderSeat(31);}
                        <div class="empty-space" style="font-size: 0.6em"></div>
                    </div>
                    <div class="row">
                        @{RenderSeat(67);}
                        @{RenderSeat(66);}
                        @{RenderSeat(65);}
                        @{RenderSeat(64);}
                        @{RenderSeat(63);}
                        @{RenderSeat(62);}
                        @{RenderSeat(61);}
                        <div class="empty-space" style="font-size: 2em"></div>
                        <div class="wall" style="font-size: 0.3em"></div>
                    </div>
                    <div class="row">
                        @{RenderSeat(93);}
                        @{RenderSeat(92);}
                        @{RenderSeat(91);}
                        @{RenderSeat(90);}
                        <div class="empty-space" style="font-size: 4em"></div>
                        <div class="wall" style="font-size: 1em"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @if (Model.IsOpen)
    {
        <script>
            var showIfScriptsEnabled = function ($element)
            {
                $element.removeClass("d-none");
            }
        </script>

        <div class="col-lg-2 col-md-3">
            <noscript>
                <div class="alert alert-danger" role="alert">
                    <h3 class="h4">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        @Localizer["JavaScript is disabled!"]
                    </h3>
                    <p class="mb-0">
                        @Localizer["Your browser doesn't support JavaScript or has disabled scripts on this page."]
                    </p>
                </div>
            </noscript>

            <div class="lazy-loaded d-none" data-onload="showIfScriptsEnabled">
                <form>
                    <div class="d-flex flex-column">
                        <label for="seat-1" class="form-label w-100">
                            @Localizer["Seat"]
                        </label>
                        @for (int i = 1; i <= @Model.MaxSeatSelections; ++i)
                        {
                            <select class="form-select mb-1" id="seat-@(i)" name="seatNumbers" required="@(i == 1)">
                                <option></option>
                            </select>
                        }
                        <button class="btn btn-primary mt-3">@Localizer["Reserve Seat"]</button>
                        <p class="form-text mb-0">
                            @HtmlLocalizer["<!-- reserve seat disclosure -->", @Localizer["Reserve Seat"]]
                        </p>
                    </div>
                </form>
            </div>
        </div>

    }
</div>
