@using Presentation.Shared.Localization.Models
@using Public.ViewComponents
@inject IStringLocalizer<CultureSwitcherViewComponent> Localizer;
@model CultureSwitcherModel

<div class="dropdown">
    <button class="dropdown-toggle btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-globe"></i>
        <span class="visually-hidden">@Localizer["Change the language"]</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        @foreach (var culture in Model.SupportedCultures)
        {
            <li>
                <button
                    class="@((Model.CurrentUICulture.Name == culture.Name) ? "dropdown-item active" : "dropdown-item")"
                    data-cookie-value="@Model.GetCookieValue(culture.Name)"
                    type="button"
                >@culture.NativeName</button>
            </li>
        }
    </ul>
</div>

<script>
    // We can't use jQuery here because it's not loaded yet.
    (function() {
        const CULTURE_COOKIE_NAME = "@(CultureSwitcherModel.CULTURE_COOKIE_NAME)";
        document.querySelectorAll(".dropdown-menu button").forEach(btn => {
            btn.addEventListener("click", () => {
                const cookieValue = btn.getAttribute("data-cookie-value");
                document.cookie = `${CULTURE_COOKIE_NAME}=${cookieValue}; max-age=31536000; path=/; samesite=lax; secure`;
                location.reload();
            });
        });
    })();
</script>
