@inject IViewLocalizer Localizer;

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
}

<section id="top" class="hero">
    <div class="hero-adaptive-layout">

        <picture>
            <source type="image/webp" srcset="~/images/poster-672w.webp">
            <img src="~/images/poster-672w.jpg" class="hero-image" alt="Event poster with a smiling Hyelin">
        </picture>

        <div class="hero-content">
            <h1 class="display-3"><q>@Localizer["Fall in Hyelin"]</q></h1>
            <div class="mb-3">
                @Localizer["<!-- hero content -->"]
            </div>
            <div>
                <a href="#reserve-a-seat" class="btn btn-primary">@Localizer["Reserve Your Seat"]</a>
            </div>
        </div>

    </div>
</section>

<section id="venue-info">
    <div class="container py-5">
        <div class="row mb-3">
            <div class="col-sm-8">
                <h2>@Localizer["Venue Information"]</h2>

                <address>
                    <strong>H-STAGE</strong><br>
                    @Localizer["Address:"] @Localizer["<!--venue address-->"]<br>
                    @Localizer["Website:"] &lt;<a href="https://theplay.or.kr/소극장/">https://theplay.or.kr/소극장/</a>&gt;
                </address>

                <p>@Localizer["<!--venue directions-->"]</p>
            </div>

            <div class="col-sm-4">
                <figure class="figure">
                    <picture>
                        <source type="image/webp" srcset="~/images/h-stage-building.webp">
                        <img src="~/images/h-stage-building.jpg" class="figure-img img-fluid rounded" alt="Front of event building"/>
                    </picture>
                    <figcaption class="figure-caption">@Localizer["<!--venue picture credit-->"]</figcaption>
                </figure>
            </div>
        </div>

        <partial name="_MapWidget" />
    </div>
</section>

<section id="event-info" class="container-fluid text-bg-light py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>@Localizer["Event Information"]</h2>
            @Localizer["<!-- event information -->"]
        </div>
    </div>
</section>

<section id="reserve-a-seat" class="container-xxl py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>@Localizer["Reserve a Seat"]</h2>
            @Localizer["<!-- seat instructions -->"]
        </div>

        <div class="col-12">
            @await Component.InvokeAsync("SeatSelector", new { idPrefix = "seat-selector" })
        </div>
    </div>
</section>
